ENCRYPTION_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
JWT_SECRET=super_secret_jwt_key_for_dev
PORT=3001
DATABASE_URL=db_here
SHOPIFY_CLIENT_ID=id here
SHOPIFY_CLIENT_SECRET=your_secret_here
SHOPIFY_SCOPES=read_products,write_orders,read_orders,read_customers,write_customers
SHOPIFY_REDIRECT_URI=http://localhost:3001/api/shopify/callback
